.main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h3.section-title {
    margin: 15px 0 15px 0;
}

.car-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.car-photo-container {
    flex: 1 1 300px;
}

.car-photo-container img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-specs {
    flex: 1 1 300px;
}

.car-specs table {
    border-collapse: collapse;
}

.car-specs table tr {
    padding-left: 10px;
}

.car-specs tr td {
    width: 30%;
    padding: 8px 6px;
    border-bottom: 1px solid #ddd;
}

.car-specs td:nth-child(1) {
    width: 200px;
}

.car-specs strong {
    display: inline-block;
    width: 150px; /* Adjust width as needed */
}

.car-is-available {
    color: green;
}

.car-is-not-available {
    color: red;
}

form.rent-car {
    display: flex;
    flex-direction: column;
}

form.rent-car label, form.rent-car input, form.rent-car button {
    margin: 10px 0;
}

form.rent-car input, form.rent-car button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form.rent-car button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form.rent-car button:hover {
    background-color: #218838;
}
